body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #0a192f, darkslategrey);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #dbe2ef;
}

.container {
  margin: 5px;
  background: rgba(255, 255, 255, 0.1);
  padding: 60px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 450px;
  text-align: center;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease-in-out;
}

.container:hover {
  transform: translateY(-10px);
}

h1 {
  margin-bottom: 20px;
  color: #f8f9fa;
  font-size: 2em;
  font-weight: bold;
}

p {
  color: #b0c4de;
  margin-bottom: 20px;
  font-size: 1.1em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 1em;
  color: #dbe2ef;
}

input[type="radio"], input[type="number"], select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #556677;
  font-size: 1em;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: border 0.3s ease, background 0.3s ease;
}

input:focus, select:focus {
  border-color: #00adb5;
  background: rgba(255, 255, 255, 0.3);
}

button {
  background-color: #00adb5;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #007f8b;
  transform: scale(1.05);
}

button:active {
  background-color: #03b68f;
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
    width: 90%;
    max-width: 100%;
  }

  h1 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }

  button {
    font-size: 1em;
    padding: 10px;
  }
}
