body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, rgb(35, 248, 255), rgb(115, 255, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

p {
    color: #666;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.normal {
    color: green;
}

.underweight {
    color: orange;
}

.overweight {
    color: yellow;
}

.obese {
    color: red;
}